<!DOCTYPE html>
<html>
    <head>
        <title>User Bookings</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <%- include('partials/navbar') %>
        <%- include('partials/flash') %>

        <div class="container">
            <h1>My Bookings</h1>
            <% if (bookings.length === 0) { %>
                <p class ="empty-state"> You haven't booked any tickets yet! </p>
            <% } else { %>
                <ul class="booking-list">
                    <% bookings.forEach(ticket => { %>
                        <li class="ticket-card">
                            <strong> <%= ticket.title %> </strong>
                            <p> <%= ticket.event_date %> </p>
                            <p> Ticket Quantity: <%= ticket.ticket_quantity %> </p>

                            <form action="/bookings/cancel" method="POST">
                                <input type="hidden" name="bookingId" value="<%= ticket.booking_id %>">
                                <button type="submit" class="cancel-button" onclick="return confirm('Are you sure you want to cancel this booking?');">Cancel Booking</button>
                            </form>

                            <hr>
                        </li>
                    <% }) %>
                </ul>    
            <% } %>
        </div>
    </body>
</html>