<!DOCTYPE html>
<html>
    <head>
        <title>Event Details</title>
    </head>
    <body>
        <%- include('partials/navbar') %>
        <%- include('partials/flash') %>

        <div class="container">
            <h1> <%= event.title %> </h1>
            <p> <%= event.location %> | <%= event.event_date %></p>
            <p> Tickets Available: <%= (event.total_capacity - event.tickets_sold) %> </p>
    
            <form class="event-form" action="/bookings" method="POST">
                <input type="hidden" name="eventId" value= "<%= event.event_id %>" >
                <input type="hidden" name="userId" value= "<%= userId %>">
    
                <label> How many tickets? </label>
                <input type="number" name="ticketQuantity" min= "1">
                <button type="submit">Submit</button>
            </form>
        </div>
    </body>
    
</html>